    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Download CV</h2>
                    <p>You can download My CV here</p>
                    <a href="https://github.com/saliouetu/saliouetu.github.io/includes/cv.pdf" class="btn btn-default btn-lg">Download CV</a>
                </div>
            </div>
        </div>
    </section>

